MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ExamApp?retryWrites=true&w=majority
JWT_SECRET=thisIsYourSuperSecretKeyNobodyElseShouldKnow
EMAIL_USER=your-admin-email@gmail.com
EMAIL_PASS=your-gmail-app-password
